apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: solar-system-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ShoroukNabil/argocd-dynamic-solar-system.git
    targetRevision: main
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: solar-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
